<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="assets/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
    <div id = "disp">
        {{crntOperand}}
    </div>
    <div id = "keypad">
        <!--<div id = "opPad">-->
            <button
            type = button
            class = "operator"
            v-for="op in operators"
            v-bind:id="op.id"
            v-on:click="op.action">
            {{op.id}}
            </button>
        <!--</div>-->
        <div id = "numpad">
            <button 
            type = button
            class="number" 
            v-for="num in numbers"
            v-on:click="updateOperand(num)">
            {{num}}
            </button>
        </div>
        
        
    </div>
</div>

<script src="main.js"></script>

<script>
    const mountedApp = app.mount("#app");
</script>
</body>
</html>