<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="assets/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
    <div id = "disp">
        <p id="crnt">{{crntOperand}}</p>
        <p id="past">{{pastCalcs}}</p>
    </div>
    <div id = "keypad">
        
        <div id = "numpad">
            <button 
            type = button
            class="number" 
            v-for="num in numbers"
            v-on:click="updateOperand(num)">
            {{num}}
            </button>
        </div>
        <div id = "opPad">
            <button
            type = button
            class = "operator"
            v-for="op in operators"
            v-bind:id="op.id"
            v-on:click="op.action">
            {{op.label}}
            </button>
        </div>
        
    </div>
</div>

<script src="main.js"></script>

<script>
    const mountedApp = app.mount("#app");
</script>
</body>
</html>