#app{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50vw;
    height: 20vw;
    min-width: 300px;
    min-height: 200px;
    /*max-width: 500px;*/
    position: relative;
}

#disp{
    font-size: xx-large;
    flex-grow: 1;
    text-align: right;
    border-color: coral;
    border-style: solid;
}
#crnt{
    font-size: xx-large;
    padding: 0;
}
#past{
    font-size: small;
}

#keypad{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    position: relative;
    flex-wrap: nowrap;
}

#opPad{
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-items: center;
    width:50%
}

#numpad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50%;
}

button{
    
    font-size: larger;
}
.number{
    background-color: cornsilk;
    width:33%;
}

.operator{
    background-color: coral;
    width: 25%;
    
}

#equals{
    flex-grow: 4;
    background-color: cornflowerblue;
}